<footer class="page-footer fluid-container">
    <div class="row">
        <div class="col-xs-12">
            <div class="bg-primary padding-20">
                <div class="mbottom-small border-bottom">
                    <div class="row flexbox">
                        <div class="col-xs-12 col-ms-6 col-md-3 pbottom-small">
                            <h2 class="h4">Ghent University</h2>
                            <ul class="linklist linklist-inverted">
                                <li>
                                    <a href="https://ugent.be">Ghent University portal</a>
                                </li>
                                <li>
                                    <a href="https://helpdesk.ugent.be">Helpdesk DICT UGent</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-ms-6 col-md-3 pbottom-small">
                            <h2 class="h4">OpenCast</h2>
                            <ul class="linklist linklist-inverted">
                                <li>
                                    <a href="https://opencast.org/">OpenCast</a>
                                </li>
                                <li>
                                    <a href="https://www.apereo.org">Apereo</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-ms-6 col-md-3 pbottom-small">
                            <h2 class="h4">MM Team</h2>
                            <ul class="linklist linklist-inverted">
                                <li>
                                    <a href="https://www.ugent.be/student/nl/ict/multimedia/">Multimedia team</a>
                                </li>
                                <li>
                                    <a href="https://www.ugent.be/intranet/nl/op-het-werk/ict/multimedia/lesopnames/overzicht.htm">Lecture capturing</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-ms-6 col-md-3 pbottom-small">
                            <h2 class="h4">About Ghent</h2>
                            <ul class="linklist linklist-inverted">
                                <li>
                                    <a href="https://visit.gent.be/en">Visit Ghent</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container-share col-xs-12 col-sm-4">
                        <ul class="list-inline list-unstyled social">
                            <li>
                                <a href="https://www.facebook.com/Multimedia-ugent-268749830723858">
                                    <i class="fa fa-facebook"></i>
                                    <span class="sr-only">Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/ugent">
                                    <i class="fa fa-twitter"></i>
                                    <span class="sr-only">Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/UniversiteitGent">
                                    <i class="fa fa-youtube"></i>
                                    <span class="sr-only">YouTube</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <ul class="list-inline list-unstyled pull-right">
                            <li>&copy; 2019 Ghent University</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
