<div class="fluid-container">
    <div class="row">
        <header class="pageheader col-xs-12 ">
            <nav class="navbar navbar-default">
                <div class="row">
                    <div class="navbar-header col-xs-12 col-sm-2">
                        <div class="page-logo">
                            <a href="./" class="link">
                                <img src="static/images/opencast-icon.svg" alt="OpenCast">
                            </a>
                        </div>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse col-sm-10" role="navigation">
                        <div class="row menu">
                            <div class="col-xs-12">
                                <div class="bg-primary spacer">
                                    <div class="row">
                                        <div class="col-xs-12">
                                          <div class="col-xs-12 col-ms-6 col-md-8 padding-20 pbottom-small">
                                              <h2 class="h1">OpenCast Summit 2020</h2>
                                            </div>
                                            <div class="navbar-right padding-20 pbottom-small">
                                                <h2 class="h4">@ Ghent University</h2>
                                                <div class="container-share bg-primary row ">
                                                  <ul class="list-inline list-unstyled social">
                                                    <li>
                                                        <a href="https://www.facebook.com/Multimedia-ugent-268749830723858">
                                                            <i class="fa fa-facebook"></i>
                                                            <span class="sr-only">Facebook</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/ugent">
                                                            <i class="fa fa-twitter"></i>
                                                            <span class="sr-only">Twitter</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.youtube.com/user/UniversiteitGent">
                                                            <i class="fa fa-youtube"></i>
                                                            <span class="sr-only">YouTube</span>
                                                        </a>
                                                    </li>
                                                  </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row menu">
                            <div class="col-xs-12">
                                <ul class="nav-primary nav navbar-nav">
                                    <li class="active">
                                        <a href="index.html">
                                            <span>Welcome</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="cfp.html">
                                            <span>Call for proposals</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Register</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="programme.html">
                                            <span>Programme</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="venue.html">
                                            <span>Venue</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Media</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://visit.gent.be/en">
                                            <span>About Ghent</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
              </nav>
              <div class="row">
                  <div class="col-xs-12 col-sm-6 col-sm-offset-2 branding-container faculty-1"></div>
              </div>
          </header>
      </div>
  </div>
